*{
    margin:0;
    padding:0;
}

#login-form .hero{
    height:100%;
    width:100%;
    background: rgba(20,8,48,1);
    background-image: linear-gradient(rgba(0,0,0 ,0.5),rgba(0,0,0, 0.5)),
    url(".\\images\\astronaut.gif");
    background-repeat: no-repeat;   
    background-size: contain;
    background-position: center;
    position: absolute;
}

#login-form .form-box{
    border:2px solid red;
    width:40%;
    height:35rem;
    position:relative;
    margin: 6% auto;
    /* background: #fff; */
    padding: 5px;
    overflow: hidden;
}

#login-form .button-box{
    border:2px solid greenyellow;
    width:20rem;
    margin:2.2rem auto;
    position: relative;
    box-shadow: 0 0 1rem .3rem #4c6292;
    border-radius: 2rem;
    font-size: 0;
}

#login-form .toggle-btn{
    /* border:2px solid pink; */
    padding:.625rem 2rem;
    margin-left:1rem;
    cursor: pointer;
    background: transparent;
    /* border:0; */
    outline: none;
    position: relative;
    color:#fff; 
}

#login-form #btn{
    top:0;
    left:0;
    position: absolute;
    width:10rem;
    height:100%;
    background: linear-gradient(to right, #192a56, #7192db);
    border-radius: 2rem;
    transition: .5s;
}
#login-form .input-group{
    border:2px solid white;
    top:9rem; 
    position: absolute;
    width: 280px;
    transition: .5s;
}

#login-form .input-field{
    width:100%;
    padding: .625rem 0;
    margin: .3rem 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom:.2rem solid #fff;
    outline: none;
    background: transparent;
}

#login-form .submit-btn{
    width:85%;
    padding:.625rem 1.95rem;
    cursor:pointer;
    display: block;
    margin:auto;
    background: linear-gradient(to right, #192a56, #7192db);
    border:0;
    outline: none;
    border-radius: 2rem;
}

#login-form .check-box{
    margin:1.95rem .625rem 1.95rem 0;
}

#login-form span{
    color:#fff;
    font-size: .75rem;
    bottom:4.15rem;
    position:absolute;
    
}

#login-form #login{
    left:3.125rem;
}

#login-form #register{
    left:28.125rem;
}







@media(max-width:991px){
    #login-form .form-box{
        border:2px solid red;
        width:350px;
        height:50rem;
        position:relative;
        margin: 6% auto;
        /* background: #fff; */
        padding: 5px;
        overflow: hidden;
    }

    
}