/*------LOGIN------------------------------------------*/
/*整個畫面*/
#login-form {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    /* background: var(--space); */
    padding: 10rem 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
        url("..\\images\\astronaut.gif");
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

#login-form .form-box {
    /* border: 2px solid red; */
    width: 350px;
    height: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
    overflow: hidden;

}

#login-form .button-box {
    /* border: 2px solid yellowgreen; */
    width: fit-content;
    box-shadow: 0 0 1rem .3rem #4c6292;
    border-radius: 3rem;
    position: relative;
    margin-top: 5rem;
    overflow: hidden;
}

#login-form .toggle-btn {
    /* border: 2px solid pink; */
    color: #fff;
    background: transparent;
    font-size: 2.5rem;
    margin: 0 1.5rem;
    padding: .2rem .5rem;
    cursor: pointer;
    position: relative;
    border-radius: 3rem;
}

#login-form #btn {
    width: 45%;
    height: 100%;
    background: linear-gradient(to right, #192a56, #7192db);
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 3rem;
}

#login-form .input-group {
    /* border: 2px solid blue; */
    height: fit-content;
    width: 80%;
    color: #fff;
    display: flex;
    flex-direction: column;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}

#register {
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -35%);
}


#login-form .form-box .input-group .input-div {
    /* border: 2px solid yellow; */
    width: 100%;
    margin: 1.5rem 3rem;
    border-bottom: 2px solid #fff;
    padding-bottom: .5rem;
    position: relative;
    display: flex;
}

#login-form .form-box .input-group .icon-div {
    width: 38px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;

}

#login-form .form-box .input-group .icon-div i {
    font-size: 3rem;
}

#login-form .form-box .input-group .input-field {
    font-size: 2rem;
    outline: none;
    background: transparent;
    color: #fff;
    /* margin-left: .6rem; */
    /* border: 1px solid green; */
}

#login-form .form-box .input-group .input-field::placeholder {
    color: #fff;
    font-size: 2rem;
}

#login-form .form-box .input-group .others {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    /* border:2px solid purple; */
}

#login-form .form-box .input-group .others span {
    font-size: 1.5rem;
    margin-left: 1rem;
}

#login-form .form-box .input-group .submit-btn {
    background: linear-gradient(to right, #192a56, #7192db);
    width: 30%;
    font-size: 1.7rem;
    border-radius: 3rem;
    margin: 2rem 0;
    color: #fff;
    padding: .5rem 1rem;
    cursor: pointer;
}