/*----------------------------KeyWord-----------------------*/
.radio-group {
    margin: 0 2rem;
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

.radio-group .myRadio2 {
    display: none;
}



.radio-group label {
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: var(--space);
    cursor: pointer;
    transition: background 0.1s;
    margin: 0;
}



/* .radio-group label:not(:last-of-type) {
    border-right: 1px solid #fff;
} */

.radio-group .myRadio2:checked+label {
    background: #fff;
    color: var(--space);
}

.formQuery {
    /* border: 2px solid red; */
    /* height: 400px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.formQuery ul {
    /* border: 2px solid purple; */
    width: fit-content;
    display: grid;
    grid-template-columns: 100px 1fr;
    padding-left: 0;

}

.formQuery ul li {
    margin: 5px 0;
}


.formQuery label {
    /* border: 2px solid green; */
    white-space: nowrap;
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 10px;
}

.formQuery input {
    font-size: 1.8rem;
    border: 1px solid var(--light-color);
    border-radius: 3px;
    font-weight: bold;
}

.formQuery input:focus {
    outline: none;
    background: #ccc;

}

.formQuery .cusBtn {
    width: 120px;
    margin-top: 1rem;
    display: block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    background: var(--space);
    font-weight: bold;
}

.formQuery .cusBtn:hover {
    background: var(--black);
    transform: scale(1.05);
}

.formQuery .cusBtn:active {
    box-shadow: inset var(--box-shadow);
    transform: scale(1);
}

.formQuery .cusBtn i {
    margin-right: 3px;
}


#form2 {
    display: none;
}

h3.funcTitle02 {
    font-weight: bold;
}

h3.funcTitle02 i {
    animation: rotation 5s infinite linear;

}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/*----------------------KeyWord回傳結果------------------*/
.content-panel div{
	display:flex;
	justify-content: space-between;
	margin:1rem;
}
.content-panel hr{
	margin:0;
}
h4.funcTitle02 {
    font-size: 1.8rem;
    font-weight: bold;
    width:fit-content;
    margin:0;
    margin-right:2rem;
    margin-left:1rem;
}
#KeyWordTable th,
#KeyWordTable td {
    font-size: 1.6rem;
    /* border: 2px solid red; */


}
#KeyWordTable > thead > tr > th:nth-child(3),
#KeyWordTable > thead > tr > td:nth-child(3){
	width:700px;
}
#KeyWordTable th{
	white-space:nowrap;
}
#KeyWordTable tr td:first-of-type,
#KeyWordTable tr th:first-of-type {
/*     border: 2px solid blue; */
    width: 120px;
}


#KeyWordTable tbody tr td:last-of-type {
    /* border: 2px solid red; */
    white-space: nowrap;
}



#KeyWordTable td:focus {
    background: #ccc;
}