.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;

}

.footer .box-container .box h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--darkBlue);
}

.footer .box-container .box a:hover{
    color: black;
    text-decoration: underline;
}
.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color:var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem; 
}
/*copy right by 此SPAN*/
.footer .credit span{
    color:var(--darkBlue);
}