<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .error {
            border: red solid 1px;
            color: red;
        }
    </style>
</head>

<body>

    <div id="app1">
        <input type="text" :id="message" v-model="message">
        <input type="text" v-model="message" :class="{ 'error': message.length > 10 }">
        {{ message }} ????
        price: {{ price }},
        quantity {{ quantity }},
        total: {{ getTotalComputed }} 元
        <div>台幣 <input type="text" v-model="twd"></div>
        <div>日幣 <input type="text" v-model="jpy"></div>
        <!-- radio -->
        <div><input type="radio" id="one" value="1" v-model="picked">one</div>
        <div><input type="radio" id="two" value="tre" v-model="picked">two</div>
        <!-- checkbox -->
        <div><input type="checkbox" id="two1" value="Jack" v-model="names">Jack</div>
        <div><input type="checkbox" id="two2" value="Mike" v-model="names">Mike</div>
        <div><input type="checkbox" id="two3" value="John" v-model="names">John</div>
        <div><input type="checkbox" id="two4" value="Mary" v-model="names">Mary</div>

        <p><input v-model.number="amount"></p>
        <p>Count: {{ count }}</p>
        <span> picked: {{ count }}</span>
        <button @click="plus">click</button>
        <p>你按下的案件是: {{ pressKey }}</p>
        <input type="text" @keyup="press">
        <div class="messages">
            <div>{{ messages }}</div>
            <div v-for="m in messages">{{ m[0] }}</div>
        </div>
        <input type="text" placeholder="any" v-model.trim="msg" @keydown.enter.exact="addToMessages">
        <div> <input type="checkbox" v-model="isShow">isShow:{{ isShow }}</div>
        <div v-if="isShow">v-if</div>
        <div v-show="isShow">v-show</div>
        <div v-if="count===0" style="background-color: red;">A</div>
        <div v-else-if="count<5" style="background-color: greenyellow;">B</div>
        <div v-else="count>5" style="background-color: palevioletred;">C</div>


        choose one:
        <input type="radio" value="username" v-model="loginType">Username
        <input type="radio" value="email" v-model="loginType">Email
        <hr>
        <template v-if="loginType==='username'">
            Username <input type="text" placeholder="username">
        </template>
        <templete v-else="loginType==='email'">
            Email <input type="text" placeholder="email">
        </templete>

        <ul>
            <li v-for="(dd,ddd,ind) in book"> {{ ddd }} / {{ dd }}/{{ind}}</li>
        </ul>

        <div v-for="i in even()">{{ i }}</div>
        <div v-for="a in sorted">{{ a }}</div>

        <!-- <ul>
            <li v-for="n in items">{{ n }}</li>
        </ul> -->
        <pre>items: {{ items }}</pre>
        <input v-model="text">
        <p>
            <button @click="changeVal">changeVal</button>
        </p>


    </div>

    <div id="app2"></div>
    <div id="app3"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
    <script>
        const vueObject = {
            message: 'Hello World',
            price: 100,
            quantity: 10,
            twd: 1,
            picked: 1,
            names: ["Jack"],
            isOk: false,
            count: 0,
            amount: 0,
            pressKey: '',
            msg: '',
            messages: [],
            isShow: true,
            loginType: 'username',
            book: {
                title: 'abc',
                price: '99',
                author: 'me'
            },
            numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
            items: ["abc", "is", "good"],
            text: '??????',

        }
        const vm1 = Vue.createApp({
            data() {
                return vueObject
            },
            methods: {
                getTotalMethods() {
                    return this.price * this.quantity;
                },
                twd2jpy() {
                    this.jpy = Number.parseFloat(Number(this.twd) / 0.278).toFixed(3);
                },
                jpy2twd() {
                    this.twd = Number.parseFloat(Number(this.jpy) * 0.278).toFixed(3);
                },
                plus(e) {
                    this.count++;
                    console.log(e.target.tagName);
                },
                press(event) {
                    this.pressKey = event.key;
                    window.setTimeout(function () {
                        event.target.value = '';
                    }, 2000);
                },
                addToMessages() {
                    this.messages.push(this.msg);
                    this.msg = '';
                },
                even() {
                    return this.numbers.filter(number => number % 2 === 0)
                },
                changeVal() {
                    this.items[0] = this.text;
                    // this.$set(this.items, 0, this.text)
                    alert(this.items);
                }

            },
            computed: {
                getTotalComputed() {
                    return this.price * this.quantity;
                },
                jpy: {
                    get() {
                        return Number.parseFloat(Number(this.twd) / 0.278).toFixed(3);
                    },
                    set(val) {
                        this.twd = Number.parseFloat(Number(val) * 0.278).toFixed(3);
                    },
                },
                sorted() {
                    return [...this.numbers].sort((b, a) => a - b);

                }

            }
        }).mount('#app1');

        // const vm2 = Vue.createApp({
        //     data() {
        //         return vueObject
        //     }
        // }).mount('#app2');
    </script>


</body>

</html>