<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>CGA101G1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- 設定所有的Servlet都是UTF-8 -->
	<filter>
		<filter-name>setCharacterEncoding</filter-name>
		<filter-class>com.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>setCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
<!-- 	如果未登入，要求該使用者登入 -->
	<filter>
		<filter-name>MemberLoginFilter</filter-name>
		<filter-class>com.filters.MemberLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MemberLoginFilter</filter-name>
		<url-pattern>/frontend/memCoupon/lookUpOneMemCoupon.jsp</url-pattern>
		<url-pattern>/frontend/mem/updateMemberData.html</url-pattern>
		<url-pattern>/bid/bidApplyListInsert</url-pattern>
		<url-pattern>/bid/bidApplyListMemNo</url-pattern>
		<url-pattern>/bid/bidApplyListSeller</url-pattern>
		<url-pattern>/bid/bidProductCheckout</url-pattern>
		<url-pattern>/bid/bidProductSeller</url-pattern>
		<url-pattern>/bid/bidProductWonByMemNo</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
</web-app>
